<main *ngIf="formVisible===false"></main>

<!--<p>{{name}}</p>-->
<!--<p>{{dueDate}}</p>-->
<button mat-flat-button color="accent" (click)="onAddBtnClick()"></button>
<mat-list *ngFor="let assignment of assignments">
  <h3 mat-subheader>{{assignment.dueDate | date }}</h3>
  <mat-list-item (click)="setSelected(assignment)">
    <p appSubmitted *ngIf="assignment.submitted; else unsubmitted">Assignment {{assignment.name}} has been submitted</p>

    <ng-template #unsubmitted><p appUnsubmitted>Assignment {{assignment.name}} hasn't been submitted</p></ng-template>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<app-add-assignment></app-add-assignment>
<app-assignment-detail [passedAssignment]="selectedAssignment"></app-assignment-detail>
